<% content_for :style do -%>
<% end -%>

<% content_for :script do -%>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

        } );
    </script>

<% end -%>

<section class="panel">
    <header class="panel-heading">
        Tela para importar arquivos
    </header>

  <% if flash[:info] %>
      <div class="alert alert-success fade in fadeOut">
        <button class="close close-sm" type="button" data-dismiss="alert">
          <i class="fa fa-times"></i>
        </button>
        <%= flash[:info] %>
      </div>
  <% end %>

    <div class="panel-body">
        <div class="btn-group">
            <%= link_to("#", :class => 'btn btn-shadow btn-primary', :style => 'margin-bottom:10px;') do %>
                Importar <i class="fa fa-upload"></i>
            <% end %>
        </div>

    </div>
</section>
