.panel .nav .tab-disable a
{
	color: #b0aeae;
    cursor: not-allowed;
}

.panel .nav .tab-disable a:hover
{
	color: #b0aeae;
}

.ui-widget
{
	z-index: 1000000;
}

.info-posicao
{
	cursor: pointer;
    float: right;
    font-size: 30px;
    margin: 3px 0 0;
}